# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.opensdf
*.suo
*.sdf
*.tlog
*.log
*.lastbuildstate
*.idb
*.pdb
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
